#set($d = "$")
#set($a = "'")
#set($nameAttributes = [])
#set($nameAttributesRef = [])
		  app
    .controller('${EntityName}Controller', ['$scope','$http','${EntityName}Factory','$routeParams','sharedData','$location','$route','$cookieStore',  function($scope, $http,${EntityName}Factory,$routeParams,sharedData, $location,$route, $cookieStore, loaded  ) {
        var self = this;
        self.saving="";
        self.hidden = [];
        if($routeParams.${EntityName}Id)
        {
        self.active = $routeParams.${EntityName}Id;
        self.${EntityName}Active = sharedData.get('${EntityName}');
        }

        self.${EntityName}Table = sharedData.get('${EntityName}');
        var tempClasse = "";
        self.Externe = {};
        self.agregation = {};
        		#set($sub = $EntityName.length() - 3)
				#if($sub > 0 && $EntityName.substring($sub).equals("Agr"))
				#set($data = $EntityName.substring(0,$sub))
				self.agregation.${EntityName} = sharedData.get('${data}');
				#end
		self.agregation.data = [];
        
		#foreach($att in $Attributes)	
			#if($att && !$att.get(1).equals("Entity"))
				#set($sub = $att.get(0).length() - 2)
				#if($sub > 0 && $att.get(0).substring($sub).equals("Id"))
				#set($data = $att.get(0).substring(0,$sub))
				self.Externe.${att.get(0)} = sharedData.get('${data}');
				self.display${data} = sharedData.get('${data}');
                        
				#end
			#end
		#end

            console.log(self.${EntityName}Table);
            sharedData.store('${EntityName}', self.${EntityName}Table);		
        #foreach ($fct in $listFunction)
            	#parse("/templates/functions/${fct}.vm")
        #end
        

        #if($create==true)
        //create function is validated to be add in the controller
         self.create = function(aim){
         var res = ${d}location.path().substr(0,${d}location.path().length-8);
         ${d}location.path(res+aim);        
        }
        #end
        #if($edit== true)
        //Edit function is validated to be add in the controller
        self.edit = function(aim){        
         var res = ${d}location.path().substr(0,${d}location.path().length-8);
         ${d}location.path(res+aim);
        }
        #end
        
        
	   	#set($sub = $EntityName.length() - 3)
		#if($sub > 0 && $EntityName.substring($sub).equals("Agr"))
		#set($dataAgr = $EntityName.substring(0,$sub))
	       	self.SaveAgr = function()
       	{
       	self.done = 0;
       	for(var i =0;i<self.agregation.data.length; i++)
       	{
       		self.test = new ${EntityName}Factory();
       		self.test.Nom = self.Externe.${dataAgr}[i].Nom;
       		self.test.note = self.agregation.data[i];
       		self.${d}save({${EntityName}Id: self.active}).then(function(){self.done++});
       	}
			   
			   while(self.done!=self.agregation.data.length)
			   {
			   self.saving = self.done + "/" + self.agregation.data.length +" done";
			   }
	           ${EntityName}Factory.get({${EntityName}Id:self.active})
                .${d}promise.then(function(data) {	
                        
                    self.Redirect('listView');
           });
	}
	  #end
	  

}])
    
