<div>

                <div class="entityListLine">
		#foreach($att in $Attributes)
			#if($att)
			#set($idAtt = $foreach.count)
			<span ng-if="${EntityName}.showFrom('${att.get(0)}')">${att.get(0)}</span>
			#end 
		#end
		 <span>Delete</span>
	</div>


     <div class="entityListLine" ng-repeat="item in ${EntityName}.${EntityName}Table | orderBy : 'id'" ng-if="item.id>=0">
	#foreach($att in $Attributes)
		#if($att)
		#set($idAtt = $foreach.count)
		#set($sub = $att.get(0).length() - 3)
		#if($sub > 0 && $att.get(0).substring($sub).equals("Agr"))
		#set($data = $att.get(0).substring(0,$sub))
		
		<span ng-click="${EntityName}.select(item.id+'/${att.get(0)}/listView')" ng-if="${EntityName}.showFrom('${att.get(0)}')">
			<input type="button" value="show List">
			</span>
		#else
		<span ng-click="${EntityName}.select(item.id+'/Edit')" ng-if="${EntityName}.showFrom('${att.get(0)}')">
		#set($sub = $att.get(0).length() - 2)
				#if($sub > 0 && $att.get(0).substring($sub).equals("Id"))
				#set($data = $att.get(0).substring(0,$sub))
				{{${EntityName}.display${data}[item.${data}Id].Nom}}	 
				#else

				#if($att.get(1).equals("Entity"))ENTITY#else{{item.${att.get(0)}}}#end
				#end
				</span>
		#end
		
		#end
		
	#end
	<span class="deleteButton"><input  type="button" value="X" ng-click="${EntityName}.delete(item.id)"/></span>
	 </div>

</div>
<hr>