    <h2>
        <span class="glyphicon glyphicon-check"></span> Your application is running.
    </h2>
    <p>
        <a target="_blank"
           href="http://www.viseo.com/docs/index.html">Documentation</a>
        | <a target="_blank"
             href="https://twitter.com/viseotech">Get Excited!</a><br /> <a target="_blank" href="https://twitter.com/viseotech"><br />
        VISEO Project</a> | <a target="_blank"
                               href="https://community.viseo.org">User
        Forums</a> | <a target="_blank"
                        href="https://issues.viseo.org">Report an issue</a>
    </p>

