		  app
    .controller('logsController', ['$scope','$http','$routeParams','logsFactory','sharedData','$location','$route',  function($scope, $http,$routeParams,logsFactory,sharedData, $location,$route, loaded  ) {
        #set($d = "$")
        var self = this;
 		self.logged = sharedData.get('loggedAs');
 		console.log(self.logged);
         $scope.test = self.logged;
        self.login = function(){
        var user = {Login : self.userLogin, Password:self.userPassword};
        $http.post("./rest/userLogin",user)
        .success(function(data, status, headers, config){if(data.length>0) alert("OK");sharedData.store('loggedAs',data[0].Login);${d}location.path("/index");});
        
        
        }
        self.register = function(){
        self.newUser = new logsFactory();
        self.newUser.Login = self.userLogin;
        self.newUser.Password = self.userPassword;
        self.newUser.$save();
        
        
        }
        self.logout = function(){
        sharedData.remove('loggedAs');
        
        }
 
 
 }]);