        //inscription d'un administrateur dans la table USER
        
        self.inscription = function()
        {
        #foreach($att in $champs)
        
        
        
        
        #end

            $http
            .post("./rest/User", self.utilisateurIns).then
            (
                function(responseIns)
                {
                    self.connectedUserId=responseIns.data._id;
                    sharedData.store('userId', self.connectedUserId);

                },
                function(errResponseIns)
                {
                    console.log("errorPost");

                }


            );
        };