       	self.Save = function()
       	{
			   self.test = new ${EntityName}Factory();
	           ${EntityName}Factory.get({#foreach($url in $Parent) ${url}Id: $routeParams.${url}Id, #end${EntityName}Id:self.active})
                .${d}promise.then(function(data) {
			            #foreach($item in $Attributes)
			            	#if($item)
			            	
			            	#set($tt=$a+$item.get(0)+$a)
			                #set($bar = $nameAttributes.add($tt))
			                
			                 #set($sub = $item.get(0).length() - 3)
 							 #if(($sub > 0 && $item.get(0).substring($sub).equals("Ref"))||($item.get(0).equals("id")))
 							 #set($tar= $nameAttributesRef.add($tt))
 							#end 							
			        	    		#if($item.get(1).equals("Entity"))   
			           		 			#if($item.get(2).equals("true"))   
			            		 			data.$item.get(0)= "[]";
			            	   	 		#end
			           			 	#else
			           		 	 		#if($item.get(2).equals("true"))   
			            		 			data.$item.get(0)= "array";
			            				#else	
			            					#set($sub = $item.get(0).length() - 2)
			            		 				data.$item.get(0)= self.${EntityName}Active.${item.get(0)};
			            		 		#end
			            			#end
			            	#end
			            #end	
                        data.${d}save({#foreach($url in $Parent) ${url}Id: $routeParams.${url}Id, #end${EntityName}Id: self.active}).then(function(){self.Redirect('listView')});;
                        self.Redirect('listView')
                }
            );
	}
	
	
	